* {
  font-family: Campton;
}
body {
  overflow-x: hidden;
}

.btn-danger {
  background-color: #ff4438;
}
.mainpage {
  width: 1728px;
  margin: auto;
  height: fit-content;
  padding: 0;
  background-color: #f6f6f6;
}
nav {
  width: 1728px;
}

/* nav */
#tbutton {
  height: 40px;
  background-color: red;
  border-radius: 100%;
  padding: 10px;
}
#mpluslogo {
  width: 176.06px;
  height: 50px;
}

/* header */
div #eeebot {
  width: 617.27px;
  height: 134px;
  gap: 0px;
}
div #eeebot h1 {
  font-size: 56px;
  font-weight: 625;
  line-height: 67.2px;
  text-align: left;
}

div #Struggling {
  font-family: Campton;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: left;
  width: 461px;
  height: 170px;
  gap: 0px;
  opacity: 0px;
  margin-top: 20px;
}

#firstcard {
  width: 604px;
  height: 600px;
  top: 63px;
  padding: 32px 0px 0px 0px;
  margin-left: 120px;
  gap: 24px;
  border: none;
  z-index: 10;
}

.card-header {
  background-color: #ffff;
  --bs-card-border-color: none;
}
.input-group p {
  position: absolute;
  left: 350px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
#header-container {
  background-image: linear-gradient(
    102.68deg,
    #ff4438 15.59%,
    #3618d7 68.12%,
    #c950e9 113.51%
  );
  height: 540px;
  width: 1728px;
}

#Send {
  width: 201px;
  height: 56px;
  gap: 0px;
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0%;
  margin-top: 50px;
}
#req-bt {
  width: 201px;
  height: 56px;
  gap: 0px;
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0%;
  margin-top: 50px;
}

/* frame19 */
#frame19-container {
  width: 1728px;
  height: 785px;
  padding-top: 150px;
  margin: auto;
  background-color: #f6f6f6;
}

#card-1,
#card-2,
#card-3 {
  font-family: Campton;
  font-size: 36px;
  font-weight: 625;
  line-height: 43.2px;
  text-align: left;
  color: #002856;
}
/* frame-13 */
#frame13-container {
  background-color: #ffff;
  position: relative;
  display: grid;
  justify-content: center;
  justify-items: center;
}
#f-13-h {
  width: 571px;
  height: 48px;
  font-family: Campton;
  font-size: 40px;
  font-weight: 625;
  line-height: 48px;
  text-align: center;

  color: #002856;
}
#f-13-p {
  width: 766.68px;
  height: 36px;
  font-family: Campton;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;

  color: #002856;
}

#first-arrow {
  position: absolute;
  width: 127px;
  height: 124px;
  top: 80px;
  left: 550px;
  padding: 0;
}
#second-arrow {
  position: absolute;
  width: 127px;
  height: 124px;
  rotate: 180deg;
  top: 420px;
  padding: 0;
  left: 1025px;
  transform: scaleX(-1);
}

#circle-1,
#circle-2,
#circle-3 {
  width: 426px;
  height: 426px;
}

.circle-num {
  padding-left: 150px;
}

.msg-img {
  width: 149.99px;
  height: 128.11px;
}

#goodbye {
  width: 962.45px;
  height: 36px;
  font-family: Campton;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #002856;
  padding-top: 50px;
}

/* fr-16 */
#fr-16 {
  background-color: #ffff;
  height: 1000px;
}

#fr-16-h {
  padding-top: 50px;
  color: #ffffff;
  font-family: Campton;
  font-size: 40px;
  font-weight: 625;
  line-height: 48px;
  text-align: left;
  width: 763.42px;
  height: 48px;
  gap: 0px;
  opacity: 0px;
}
#fr-16-p {
  padding-top: 30px;
  width: 926.6px;
  height: 29px;
  gap: 0px;
  opacity: 0px;
  font-family: Campton;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  color: #ffffff;
}
#under-img {
  position: relative;
  margin: auto;
  background-color: #5d41d2;
  width: 1458px;
  height: 197px;
  bottom: 197px;
  border-radius: 0px 0px 16px 16px;
}
#caasimg {
  padding: 0px;
  margin: auto;
  margin-top: 100px;
  width: 1458px;
  height: 755px;
  border-radius: 24px;
}
/* fr-25 */
#fr-25 {
  width: 1728px;
  margin-top: -50px;
  background-color: #ffff;
  height: 769px;
}
.fr-25-d {
  width: 350px;
  height: 375px;
}

#fr-24 {
  margin: auto;
  width: 1485px;
  height: 561px;
}
#fr-24-h {
  font-family: Campton;
  font-size: 40px;
  font-weight: 625;
  line-height: 48px;
  text-align: start;
  color: #002856;
}
#fr-24-p {
  font-family: Campton;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  color: #002856;
  margin-bottom: 50px;
}
.fr-25-b {
  color: #ff4438;
  font-family: Campton;
  font-size: 26px;
  font-weight: 625;
  line-height: 38px;
  text-align: left;
  width: 286.25px;
  height: 114px;
  gap: 0px;
  opacity: 0px;
}
.fr-25-s {
  color: #333333e8;
  font-family: Campton;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  width: 286.25px;
  height: 180px;
  gap: 0px;
  opacity: 0px;
}

/* fr-46807 */

#fr-46807 {
  padding-top: 150px;
  width: 1728px;
  height: 676px;
}

#fr-46807-fk {
  width: 1071.38px;
  margin: auto;
}

#fr-46807-h1 {
  font-family: Campton;
  font-size: 40px;
  font-weight: 625;
  line-height: 48px;
  text-align: center;
  width: 773px;
  height: 48px;
  gap: 0px;
  color: #002856;
}
#fr-46807-h2 {
  font-family: Campton;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  width: 1071.38px;
  height: 36px;
  color: #002856;
}

.fr-46807-h5 {
  font-family: Campton;
  font-size: 19px;
  font-weight: 625;
  line-height: 38px;
  text-align: center;
  color: #ff4438;
}

/* fr-46808 */
#fr-46808 {
  background: linear-gradient(
    93.44deg,
    #ff4438 -15.92%,
    #3618d7 48%,
    #c950e9 101.95%
  );
  width: 1728px;
  height: 293.74px;
  padding: 99px 120px 99px 120px;
}

@media (max-width: 767.98px) {
  .mainpage,
  .container {
    width: 393;
    height: 40px;
    justify-content: center;
  }

  #mpluslogo {
    width: 105.38px;
    height: 29.94px;
  }

  #Send {
    width: 100%;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 25px;
    padding: 8px 10px;
  }
  div #eeebot {
    margin-top: 20px;
    width: 370.48px;
    height: 120px;
    gap: 0px;
  }
  div #eeebot h1 {
    font-family: Campton;
    font-size: 33.61px;
    font-weight: 625;
    line-height: 40.33px;
    text-align: left;
  }
  div #Struggling {
    font-family: Campton;
    font-size: 16.81px;
    font-weight: 400;
    line-height: 20.17px;
    text-align: left;
    width: 361px;
    height: 80px;
    gap: 0px;
    opacity: 0px;
  }

  .input-group p {
    display: none;
  }

  #firstcard {
    width: 361px;
    height: 650px;
    margin-left: 15px;
    gap: 24px;
    border-radius: 16px;
    top: 0;
  }

  #header-container {
    background-image: linear-gradient(
      102.68deg,
      #ff4438 15.59%,
      #3618d7 68.12%,
      #c950e9 113.51%
    );
    width: 393px;
    height: 760.19px;
  }

  #caasimg {
    padding: 0px;
    width: 358px;
    margin-top: 100px;
    margin-left: 13px;
    margin-right: 13px;
    height: 151px;
    border-radius: 14px 14px 0px 0px;
  }
  #fr-16 {
    position: relative;
    left: 15px;
    background-color: #ffff;
    height: 1000px;
  }

  #fr-16-h {
    padding-top: 20px;
    font-family: Campton;
    font-size: 24px;
    font-weight: 625;
    line-height: 28.8px;
    text-align: left;
    width: 266.86px;
    height: 58px;
    gap: 0px;
    opacity: 0px;
  }
  #fr-16-p {
    padding-top: 10px;
    font-family: Campton;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    width: 314px;
    height: 66px;
    gap: 0px;
    opacity: 0px;
  }

  #under-img {
    position: relative;
    margin: 13px;
    background-color: #5d41d2;
    width: 358px;
    height: 272px;
    bottom: 239px;
    left: 0px;
    right: 0px;
    border-radius: 0px 0px 16px 16px;
  }

  #req-bt {
    width: 100%;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 25px;
    padding: 8px 10px;
  }

  #frame19-container {
    width: 393px;
    height: 1400px;
    top: 898.19px;
    gap: 0px;
    opacity: 0px;
  }

  #card-1,
  #card-2,
  #card-3 {
    font-family: Campton;
    font-size: 20px;
    font-weight: 625;
    line-height: 24px;
    text-align: left;
    color: #002856;
  }

  .circle-num {
    padding-left: 120px;
  }

  #f-13-h {
    position: relative;
    left: 60px;
    width: 212px;
    height: 76px;
    font-family: Campton;
    font-size: 30px;
    font-weight: 625;
    line-height: 38px;
    text-align: center;
    color: #002856;
  }
  #f-13-p {
    width: 361px;
    height: 58px;
    font-family: Campton;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
    color: #002856;
  }

  #circle-1,
  #circle-2,
  #circle-3 {
    width: 358px;
    height: 358px;
    margin-bottom: 15px;
  }
  #first-arrow {
    position: absolute;
    width: 63.83px;
    height: 121.11px;
    left: 300px;
    top: 450px;
    padding: 0;
    rotate: -270deg;
  }
  #second-arrow {
    position: absolute;
    width: 63.83px;
    height: 121.11px;
    left: 0px;
    top: 850px;
    padding: 0;
    transform: scaleX(-1);
    rotate: -90deg;
  }

  .msg-img {
    width: 121.89px;
    height: 104.11px;
  }

  #frame13-container {
    position: relative;
    left: 30px;
    display: block;
    width: 361px;
    height: 1300px;
  }

  #goodbye {
    width: 361px;
    height: 87px;
    font-family: Campton;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
    color: #002856;
    padding-top: 25px;
  }

  #fr-25 {
    left: 18px;
    position: relative;
    bottom: 350px;
    width: 358px;
    margin-top: -50px;
    background-color: #ffff;
    height: 1262px;
  }
  .fr-25-d {
    width: 358px;
    height: 271px;
    margin-top: 20px;
    padding: 20px 0px 0px 0px;
    gap: 8px;
    border-radius: 16px;
  }
  #fr-25-c {
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  #fr-24 {
    width: 358px;
    margin-top: -50px;
    background-color: #ffff;
    height: 1262px;
  }
  #fr-24-h {
    font-family: Campton;
    font-size: 30px;
    font-weight: 625;
    line-height: 38px;
    text-align: center;
    width: 358px;
    height: 38px;
    color: #002856;
  }
  #fr-24-p {
    font-family: Campton;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    width: 358px;
    height: 160px;
    color: #002856;
    margin-bottom: 50px;
  }
  .fr-25-b {
    color: #ff4438;
    font-family: Campton;
    font-size: 20px;
    font-weight: 625;
    line-height: 32px;
    text-align: left;
    width: 318px;
    height: 64px;
  }
  .fr-25-s {
    color: #333333e8;
    font-family: Campton;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    width: 318px;
    height: 150px;
  }

  #fr-46807 {
    width: 393px;
    height: 974px;
    top: 5754.44px;
    padding: 48px 16px 48px 16px;
  }

  #fr-46807-h1 {
    font-family: Campton;
    font-size: 30px;
    font-weight: 625;
    line-height: 38px;
    text-align: center;
    width: 361px;
    height: 76px;
    color: #002856;
  }
  #fr-46807-h2 {
    font-family: Campton;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    width: 361px;
    height: 96px;
    color: #002856;
  }

  .fr-46807-h5 {
    font-family: Campton;
    font-size: 19px;
    font-weight: 625;
    line-height: 38px;
    text-align: center;
    width: 313px;
    height: 38px;
    color: #ff4438;
  }

  .fr-46807-h5-o {
    margin: auto;
    font-family: Campton;
    font-size: 19px;
    font-weight: 625;
    line-height: 30px;
    text-align: left;
    width: 217px;
    height: 60px;
    color: #ff4438;
  }
}
